.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
    max-width: 170px;
    margin: 15px;
    line-height: 1.5;
    cursor: pointer;
}

.movie img {
  max-width: 100%;
}
